@model pagesPratice.Models.book

<!DOCTYPE html>
<html>
<head>
    <title>Book Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Diğer stil dosyalarını burada dahil edebilirsiniz -->
</head>
<body>

    <div class="container mt-5">
        <div class="text-center">
            <h2>Book Details</h2>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title bg-black bg-opacity-10">@Model.book_name</h5>
                <p class="card-text">@Model.book_summary</p>
                <p class="card-text"><b>Author:</b> @Model.book_author</p>
                <p class="card-text"><b>Book Page:</b> @Model.book_page</p>
                <p class="card-text"><b>Category:</b> @Model.book_category1.category_name</p>
                <p class="card-text"><b>Release Date:</b> @Model.release_date.Value.ToString("dd/MM/yyyy")</p>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("update", new { id = Model.id })" class="btn btn-dark mr-2">Update</a>
                <a href="@Url.Action("delete", new { id = Model.id })" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>

</body>
</html>