@model pagesPratice.Models.book

<h2 class="text-center">details <br /> #image</h2>
<div class="card">
    <div class="card-body">
        <b><span style="font-size:25px">name:</span></b>&nbsp;<span>@Model.book_name</span><br /><br />
        <b><span style="font-size:25px">author:</span></b>&nbsp;<span>@Model.book_author</span><br /><br />
        <b><span style="font-size:25px">summary:</span></b>&nbsp;<p>@Model.book_summary</p><br /><br /><br />
    </div>
    <div class="text-center container">
        <div class="row">
            <div class="col-6">
                <a href="@Url.Action("update", new { id = Model.id })" class="card-link">update</a>
            </div>
            <div class="col-6">
                <a href="@Url.Action("delete", new { id = Model.id })" class="card-link">delete</a>
            </div>
        </div>
    </div>
</div>