@model IEnumerable<pagesPratice.Models.book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.book_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_summary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.book_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.book_author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.book_summary)
            </td>
            <td>
                @Html.ActionLink("Edit", "update", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
